  <h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
    <table class="user-info">
      <tbody>
        <tr></tr>
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <!--自己紹介文の内容を反映させる-->
          <th></th>
        </tr>
      </body>
    </table>

  <div>
    <%= link_to "フォントオーサムのアイコン", edit_user_path(@user) %>
  </div>

  <h2 class="newbook">New book</h2>
  <%= form_with model: @book do |f| %>
    <label for="book-title">Title</label>
      <%= f.text_field :title %>
    <label for="book-opinion">Opinion</label>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
  <% end %>

  <h2>Books</h2>
    <table class="table-index">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @users.each do |user| %>
      <div class="user-index">
        <tbody>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(100,100) %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= link_to user_path(user) do %>
                <%= "Show" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </div>
      <% end %>
    </table>
